{{ form_start(form) }}
<div class="form-fields">
    {{ form_widget(form) }}
</div>
<div class="form-buttons">
    <button class="form-submit-button">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}